@model IEnumerable<TiendaOnline.Models.Direccion>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Lista de direcciones</h1>

        <p>
            <a class="btn btn-primary" asp-action="Create">Crear dirección</a>
        </p>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ciudad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CodigoPostal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Usuario)
                        </th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ciudad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CodigoPostal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.DireccionId"><i class="bx bx-edit-alt me-2"></i>Editar</a>
                                        <a class="dropdown-item" asp-action="Details" asp-route-id="@item.DireccionId"><i class="bx bx-detail me-2"></i>Detalle</a>
                                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.DireccionId"><i class="bx bx-trash me-2"></i>Eliminar</a>
                                    </div>
                                </div>

                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
